flows.json
[{"id":"f6f2187d.f17ca8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"88753461.2b34c8","type":"subflow","name":"Sparkplug Device","info":"# Overview\nThis subflow simplifies the process of creating a new device connection and managing new data and handling incoming commands.\n\n---\n# Environment Variables\n`metrics` - This is an array of JSON objects in [Sparkplug payload format](https://github.com/eclipse/sparkplug/blob/master/specification/Sparkplug.adoc) which specifies the default list of metrics that your device will provide/receive. For example:\n```\n [\n    {\n        name: \"metric1\",\n        value: 123456,\n        type: \"int32\",\n    }, \n    {\n        name: \"metric2\",\n        value: \"foobar\",\n        type: \"string\",\n    },\n    ...\n]\n ```\n> Note that this variable should contain all of the metrics your device will provide/receive. If the list must be updated, you must either manually update this variable or provide a new birth certificate using the `rebirth` message type below.\n\n`deviceID` - This is the identifier for your \ndevice. It must be unique to this Sparkplug Node.\n\n\n---\n# Input\nThe input to this node should be wired both to the output of the Sparkplug MQTT node, as well as to the output from your device.\n\nThree types of messages are expected from your device, with the `msg.topic` used to define the message type. These are:\n\n - `ddata`: This is used to provide new data from your device. The data metrics must be provided as a javascript object matching the [Sparkplug payload format](https://github.com/eclipse/sparkplug/blob/master/specification/Sparkplug.adoc). You only need to provide data for those tags that have actually changed value as any unchanged values will be ignored.\n- `ddeath`: This is used to signify that your device has gone offline. You do not need to provide a `msg.payload`.\n- `dbirth`: This is used to signify that your device has come back online. If you send an empty payload, a `DBIRTH` message is sent for you where the metrics are read from the `metric` environment variable. If you provide a payload matching the [Sparkplug payload format](https://github.com/eclipse/sparkplug/blob/master/specification/Sparkplug.adoc), this will overrwrite the `metric` environment variable, then send a `DBIRTH` with the updated metrics.\n\n---\n# Outputs\n 1. Output to the Sparkplug MQTT node. Messages to be published are sent from here.\n 2. Output to your device. Updated values are provided in the `msg.payload` as a JSON object e.g. `{var1: 123, var2: \"foo\"}`.","category":"","in":[{"x":80,"y":260,"wires":[{"id":"1ed71f5d.32c9d1"}]}],"out":[{"x":520,"y":260,"wires":[{"id":"a7cd63db.c5c48","port":0},{"id":"8ce66c5d.029b2","port":0},{"id":"da3c13fd.1e727","port":0},{"id":"79489c66.772da4","port":0}]},{"x":520,"y":340,"wires":[{"id":"79489c66.772da4","port":1}]}],"env":[{"name":"metrics","type":"json","value":"[{\"name\":\"my_int\",\"value\":123,\"type\":\"int32\"},{\"name\":\"my_float\",\"value\":123,\"type\":\"float\"},{\"name\":\"Device_Control/Rebirth\",\"value\":false,\"type\":\"boolean\"}]"},{"name":"deviceID","type":"str","value":"device1"}],"color":"#DDAA99"},{"id":"1ed71f5d.32c9d1","type":"switch","z":"88753461.2b34c8","name":"","property":"topic","propertyType":"msg","rules":[{"t":"eq","v":"rebirth","vt":"str"},{"t":"eq","v":"ddeath","vt":"str"},{"t":"eq","v":"ddata","vt":"str"},{"t":"eq","v":"deviceID","vt":"env"}],"checkall":"true","repair":false,"outputs":4,"x":190,"y":260,"wires":[["a7cd63db.c5c48"],["da3c13fd.1e727"],["8ce66c5d.029b2"],["79489c66.772da4"]]},{"id":"a7cd63db.c5c48","type":"function","z":"88753461.2b34c8","name":"DBIRTH","func":"if (msg.payload !== {}) {\n    flow.set('metrics', msg.payload.metrics);\n}\nmsg.payload = {\n    timestamp: Date.now(),\n    metrics: flow.get('metrics')\n};\nmsg.topic = `${env.get('deviceID')}/DBIRTH`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":200,"wires":[[]]},{"id":"8ce66c5d.029b2","type":"function","z":"88753461.2b34c8","name":"DDATA","func":"let oldMetrics = flow.get('metrics');\nawait Promise.all(msg.payload.metrics.map(async (metric) => {\n    await Promise.all(oldMetrics.map(async (oldMetric) => {\n        if (metric.name === oldMetric.name && metric.value !== oldMetric.value){\n            oldMetric.value = metric.value;\n        }\n    }));\n}));\nflow.set('metrics', oldMetrics);\nmsg.topic = `${env.get('deviceID')}/DDATA`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"// Code added here will be run once\n// whenever the node is deployed.\nflow.set('metrics', env.get('metrics'));","finalize":"","x":340,"y":280,"wires":[[]]},{"id":"da3c13fd.1e727","type":"function","z":"88753461.2b34c8","name":"DDEATH","func":"msg.payload = {\n    timestamp: Date.now(),\n};\nmsg.topic = `${env.get('deviceID')}/DDEATH`;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":240,"wires":[[]]},{"id":"79489c66.772da4","type":"function","z":"88753461.2b34c8","name":"Handle DCMD","func":"// Check if message is for this device\nif (msg.topic === env.get('deviceID')){\n    \n    let tagMatched = false;\n    let msgs = [];\n    let metrics = flow.get('metrics');\n\n    // Loop through all incoming metrics\n    await Promise.all(msg.payload.metrics.map(async (newMetric) => {\n        // Loop through all existing metrics\n        await Promise.all(metrics.map((metric) => {\n            // Check if there is a match and the value needs updating\n            if (newMetric.name === metric.name && newMetric.value !== metric.value){\n                \n                // Update the metric timestamp\n                const now = Date.now();\n                metric.timestamp = now;\n                newMetric.timestamp = now;\n                // Update the metric value\n                metric.value = newMetric.value;\n                if (metric.value === null) {\n                    newMetric.isNull = true\n                    metric.isNull = true\n                } else {\n                    newMetric.isNull = false;\n                    metric.isNull = false;\n                }\n                \n                // If the device output message doesn't exist, prepare a prototype\n                if (!tagMatched){\n                    tagMatched = true;\n                    // Prepare output messages\n                    msgs = [\n                        {payload: {timestamp: now, metrics:[]}, topic:`${env.get('deviceID')}/DDATA`},\n                        {payload: {}, topic:\"\"}\n                    ];\n                }\n                // Push the metric change to the DDATA output message\n                msgs[0].payload.metrics.push(newMetric);\n                // Set the name and value of the device output tag\n                msgs[1].payload[metric.name] = newMetric.value;\n            }\n        }));\n    }));\n    // If metric changes were applied, output the changes back to sparkplug\n    // and to the device itself.\n    if (tagMatched){\n        flow.set('metrics', metrics);\n        return msgs;\n    }\n}","outputs":2,"noerr":0,"initialize":"","finalize":"","x":360,"y":320,"wires":[[],[]]}]